
solution1/

.vitis_hls_log_all.xml

.apc/

.project

.cproject

.settings/

ip_core/

Action_Detect_Vivado/

!Action_Detect_Vivado/Action_Detect_Vivado.gen/sources_1/bd/design_1/hw_handoff/design_1.hwh
!Action_Detect_Vivado/Action_Detect_Vivado.runs/impl_1/design_1_wrapper.bit
